/*Colors */

/* green :#62b030 ; 
    blue :#1a92d0 ;
*/


/*@font-face{
    font-family: ;
    src: url();
}
@font-face{
    font-family: ;
    src: url();
}*/
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}
.navbar {
    position: fixed;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    z-index: 999;
}
.navbar a img{
    height: 3em;
    width: 3em;
}
.navbar .move img{
    height: 7em;
    width: auto;
    margin-top: -70px;
}
.navbar-transparent {
    background-color: transparent !important;
}
.navbar-orange {
    background-color: #D3A14B !important;
}
.navbar-blue {
    background-color: #0D72A6 !important;
}

.navbar-green {
    background-color: #4B9121 !important;
}

.navbar-blugreen {
   background-color: #307952 !important; 
}

.navbar-blue .navbar-blugreen .navbar-green .navbar-orange {
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.subscribe {
    width: 50%; height: auto; margin: auto;  z-index: 900; position: absolute; top: 15%; bottom: 0; left: 0; right: 0;
}
@media (max-width: 500px) {
    .subscribe {
        width: 70%;
    }
}
.form-subscribe {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 50%;
    padding-top: 2em;
    display: inline-flex;
    max-width: 100%;
}
.input {
    padding: 16px 20px;
    font-size: 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex: 1;
    outline-width: 0px;
    outline-color: transparent;
    vertical-align: middle;
    color: #1a2633;
    background-color: #fff;
    border: 1px solid transparent;
    outline: none;
}
.btn {
    white-space: nowrap;
    background-color: #1a92d0;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.section {
    position: relative;
    color: white;
    width:100vw;
    height: 100vh;
}

.svg {
    position: absolute; 
}

.home {
    background-color: #A1D8E8;
}

.home .svg {
    bottom: 0;
}
.subscribe-message {
    padding: 7px;
    height: 2em;
    background-color: #1a92d0;
    overflow-y: hidden;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.closed {
    max-height: 0;
    padding: 0;
}
.mobile-communities {
    width: 100%;
    height: 100%;
}
.mobile-communities .svg {
    bottom: 0;
    top: 4em;
    right: 0;
    left: 0;
    margin: auto;
}


.desktop-communities .svg {
    z-index: 3;
    bottom: 0;
    top: 4em;
    right: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
}
@media (min-width: 761px) {
    .desktop-communities {
        display: block;
    }
    .mobile-communities {
        display: none;
    }
}
@media (max-width: 761px) {
    .desktop-communities {
        display: none;
    }
    .mobile-communities {
        display: block;
    }
}
.services {
    background-color: #62b030;
    height: auto !important;
    z-index: 0;
}

.desktop-services {
    position: relative;
    height: 100%;
    margin-right: 3em;
}
.mobile-services object {
    height: auto;
    width: 100%;
    max-height: 100%;
}
.services-container {
    padding-top: 4em;
    height: auto !important;
}
@media (min-width: 761px) {
    .services-container {
        padding-left: 6em;
        padding-right: 6em;
    }
}

@media(min-width: 1670px) and (max-height: 960px) {
    #MongolFiere1 {
        transform: translateY(115px);
    }
}

.desktop-services img {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}
.communities{
    background-color: #1a92d0;
}

.desktop-communities {
    height: 100%;
    position: relative;
    padding-right: 3em;
}
.phone-overlay-desktop {
    font-family: Affogato-Medium;
    position: absolute;
    color: black;
    background-color: white;
    z-index: 2;
}
.phone-overlay-desktop span{
    width: 70%;
    position :absolute;
    left: 10%;
    right: 0;
    bottom: 0;
    top: 25%;
}
#background {
    position: absolute;
    background-color: white;
    z-index: 0
}
#background-blue {
    position: absolute;
    background-color: #1a92d0;
    z-index: 3;
}
.phone-logo {
    height: auto;
    position: absolute;
    z-index: 1;
}

#phone path {
    z-index: 900;
}

#inner-phone {
    z-index: 2;
}
.mobile-communities {

}
.global {
    background-color: #F8C060;
}

.global .svg {
    height: 100%;
    width: 100%;
}

.team{
    background-color: #44a572;
    display: table-cell;
    vertical-align: middle;
}

.team-container {
    text-align: center;
    padding-top: 4em;
}

@media (max-width: 1490px) {
    .team-container {
        padding-top: 14em;
    }
}
@media (max-width: 760px) {
    .team-container {
        padding-top: 25em;
    }
}
.team .tooltip {
    max-height: 100%;
    position: relative;
    width: 300px;
    padding: 2em;
    display: inline-table;
    text-align: center;
}

.team img {
    height: 350px;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.pagination-custom {
	position:fixed;
	right:20px;
	top: 50%;
    transform: translateY(-50%);
	font-size:1.4em;
	z-index: 10;
}
.pagination-custom a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:white;
	position:relative;
	padding:4px;
}
.pagination-custom a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination-custom a .hover-text {
	position:absolute;
	right:15px;
    top: -2px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination-custom a:hover .hover-text {
	opacity: 1;
}
.pagination-custom a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

.hover-text {
    font-size: 15px !important;
}

ul {
    list-style: none;
}

@media(max-width:768px) { 
    .pagination-custom {
        display: none;
    }
}